In [1]:
import pandas as pd
import os

In [2]:
clean_medals_df = pd.read_csv('clean_data/clean_medals.csv')

In [3]:
clean_medals_df.head()

,name,gender,medal_type,country,country_code,event,discipline,url
0,KIM Je Deok,Mixed,Gold,Republic of Korea,KOR,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...
1,AN San,Mixed,Gold,Republic of Korea,KOR,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...
2,SCHLOESSER Gabriela,Mixed,Silver,Netherlands,NED,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...
3,WIJLER Steve,Mixed,Silver,Netherlands,NED,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...
4,ALVAREZ Luis,Mixed,Bronze,Mexico,MEX,Mixed Team,Archery,../../../en/results/archery/athlete-profile-n1...

In [4]:
print(len(clean_medals_df))

2401

In [5]:
new_medals_df = clean_medals_df[["medal_type",
                                 "country",
                                 "country_code",
                                 "event",
                                 "discipline"]]

In [6]:
new_medals_df.head()

  medal_type            country country_code       event discipline
0       Gold  Republic of Korea          KOR  Mixed Team    Archery
1       Gold  Republic of Korea          KOR  Mixed Team    Archery
2     Silver        Netherlands          NED  Mixed Team    Archery
3     Silver        Netherlands          NED  Mixed Team    Archery
4     Bronze             Mexico          MEX  Mixed Team    Archery

In [7]:
new_medals_df = new_medals_df.drop_duplicates(subset=None, keep='first', inplace=False)

In [8]:
new_medals_df.head()

  medal_type            country country_code            event    discipline
0       Gold  Republic of Korea          KOR       Mixed Team       Archery
2     Silver        Netherlands          NED       Mixed Team       Archery
4     Bronze             Mexico          MEX       Mixed Team       Archery
6       Gold            Ecuador          ECU  Men's Road Race  Cycling Road
7     Silver            Belgium          BEL  Men's Road Race  Cycling Road

In [9]:
new_medals_df.reset_index(drop=True, inplace=True)

In [15]:
new_medals_df.head()

  medal_type            country country_code            event    discipline
0       Gold  Republic of Korea          KOR       Mixed Team       Archery
1     Silver        Netherlands          NED       Mixed Team       Archery
2     Bronze             Mexico          MEX       Mixed Team       Archery
3       Gold            Ecuador          ECU  Men's Road Race  Cycling Road
4     Silver            Belgium          BEL  Men's Road Race  Cycling Road

In [11]:
print(len(new_medals_df))

1080

In [12]:
new_medals_df.to_csv('clean_data/new_medals.csv',
                           encoding='utf-8', index=False, header=True)

In [13]:
new_medals_df.to_json("clean_data/new_medals.json", orient = 'index')